.DS_Store
*~

*.soln.sv

*.tgz

*.vcd
*.fst
__pycache__
run
build
lint
results.json
verilator.json
icarus.json

icebrk.bin
icebrk.asc
icebrk.rpt

alcuv2.bin
alcuv2.asc
alcuv2.rpt

ice40.json

abstract.json

mapped.json

*.nplog
*.yslog
*.svg
*.pdf
*.bin